.header{
    height: 95px;
    background-color: #232f3e;
    display: flex;
    position: static;
    float: none
}
.header__belt{
    height: 65;
    width: 100%;
    background-color: #131921;
    display: flex;
}
.header__logo{
    height: 30px;
    width: 97px;
    background-position: -10px -51px;
}
.header__nav{
    display: flex;
}
.nav__main{
    height: 30;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* .nav__list{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
} */
