.header{
    height: 95px;
    background-color: #232f3e;
    display: flex;
    position: static;
    float: none;
    align-content: center;
}
.header__belt{
    height: 65px;
    width: 100%;
    background-color: #131921;
    display: flex;
    align-items: center;
}
.header__logo{
    height: 30px;
    width: 97px;
    background-position: -10px -51px;
    margin: 0 15px;
}
.header__locationOption{
    display: flex;
    flex-flow: column nowrap;
    margin-right: 15px;
}
.header__locationIcon{

}
.header__locationIconOutlined{
    color: #d6d6d6;
    z-index: 20px;
}
.header__locationOptionOne{
    color: #d6d6d6;
}
.header__locationOptionTwo{
    color: #d6d6d6;
}
.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header__searchSelect{
    padding: 6px;
    width: 50px;
    height: 45px !important;
    background-color: #f3f3f3;
    border: none;
    border-radius: 10% 0 0 10%;
}
.header__searchInput{
    height: 25px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__searchIcon{
    padding: 5px;
    height: 35px !important;
    background-color: #cd9042;
    border-radius: 0 10% 10% 0;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__option{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 15px;
}
.header__optionLineOne{
    color: #d6d6d6;
}
.header__optionLineTwo{
    color: #d6d6d6;
}
.header__optionLineOneShopppingCart{
    
}
.header__optionShoppingCartSprit{
    background-color: #d6d6d6;
    width: 7px;
    height: 7px
}
.header__optionLineShopppingCart{

}
.nav__main{
    height: 30;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* .nav__list{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
} */
